body {
    font-family: "Lato" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-gray-Dark;
    padding: 2rem;
}
.heading-primary{
    color: $color-white-Dark;
    text-transform: uppercase;
    position: relative;
    backface-visibility: hidden;
    margin-bottom:60px ;


    &--main {
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;
        animation-name: moveToLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      
        
    }
    &--sub {
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 17.4px;
        animation: moveToRight 1s ease-out ;
       
        
    }
}